{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ partial "header_image.html" . }}

  <div class="article-container">
    <h1 itemprop="name">{{ .Title }}</h1>

    {{ partial "article_metadata" (dict "content" . "is_list" 0) }}

    <div class="article-style" itemprop="articleBody">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Top of Page -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-0946238287085890"
			     data-ad-slot="5617960684"
			     data-ad-format="auto"
			     data-full-width-responsive="true"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}

    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <div class="article-widget">
      <div class="hr-light"></div>
      <h3>{{ i18n "related" }}</h3>
      <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

    {{ if .Site.Params.section_pager }}
    <div class="article-widget">
      {{ partial "section_pager.html" . }}
    </div>
    {{ end }}

    {{ partial "comments.html" . }}

  </div>
</article>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
