{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ partial "header_image.html" . }}

  <div class="row">
  <p></p>
  <p align="center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Top of Page -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-0946238287085890"
			     data-ad-slot="5617960684"
			     data-ad-format="auto"
			     data-full-width-responsive="true"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
  </p>
  </div>

  <div class="article-container">
    <h1 itemprop="name">{{ .Title }}</h1>

    {{ partial "article_metadata" (dict "content" . "is_list" 0) }}

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

    <div class="article-widget">
      <div class="hr-light"></div>
      <h3>About Benjamin</h3>
       <p>Benjamin is a Infrastructure and Software Engineer. On this blog he writes about Linux, Docker, Programming as well as other Systems topics.</p>
      <h5>Learn more about Linux</h5>
       <p>
        If you liked this article, check out Benjamin's book: <a href="https://www.amazon.com/Red-Enterprise-Linux-Troubleshooting-Guide-ebook/dp/B016OQOOAK" target="_blank">Red Hat Enterprise Linux Troubleshooting Guide</a>. Where you can learn a lot more about troubleshooting Linux systems. This book is filled with tips and techniques he has learned over years of managing mission critical systems.
      </p>
        <div class="pub-links">
          <a class="btn btn-primary btn-outline btn-xs" href="https://www.amazon.com/dp/1785283553/" target="_blank" rel="noopener">
  Paperback
          </a>
          <a class="btn btn-primary btn-outline btn-xs" href="https://www.amazon.com/Red-Enterprise-Linux-Troubleshooting-Guide-ebook/dp/B016OQOOAK" target="_blank" rel="noopener">
  Kindle
          </a>
        </div>
    </div>

    {{ partial "tags.html" . }}

    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <div class="article-widget">
      <div class="hr-light"></div>
      <h3>{{ i18n "related" }}</h3>
      <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

    <div class="article-widget">
      <div class="hr-light"></div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Bottom Of Page -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-0946238287085890"
		     data-ad-slot="6955093086"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
    </div>

    {{ if .Site.Params.section_pager }}
    <div class="article-widget">
      {{ partial "section_pager.html" . }}
    </div>
    {{ end }}

    {{ partial "comments.html" . }}

  </div>
</article>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
