  <!-- footer -->
  <hr>
      <div align="center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Large Leader -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:970px;height:90px"
             data-ad-client="ca-pub-0946238287085890"
             data-ad-slot="3989051884"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
  <hr>
  <div class="row">
    <div class="span6">
        <p class="text-muted pull-right">
        <strong><i class="fa fa-btc"></i> BTC:</strong> 1ixpKYf1WZDgbAJ3rivk2X335X25QSNDCi
        </br>
        <strong>DOGE:</strong> D7Yq1oQRYxSyApaXjXvgm64eL3forthJLU
        </p>
        <a href="https://twitter.com/madflojo"><i class="fa fa-twitter"></i> Twitter</a> |
        <a href="{{ data['sitefeed'] }}"><i class="fa fa-rss"></i> RSS</a> |
        <a href="http://bencane.us7.list-manage1.com/subscribe?u=52bad2a14ba3306a494c9739f&id=848cc53f28"><i class="fa fa-envelope-o"></i> Email</a> 
    </div>
  </div>
  
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="{{ data['siteurl'] }}/js/jquery-1.10.2.js"></script>
    <script src="{{ data['siteurl'] }}/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
