  <div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->
  <p>    <img src="{{ data['siteurl'] }}/static/img/benc380x250.png" alt="Picture of Benjamin Cane" class="img-rounded img-responsive" /></p>
    </div>

    <div class="col-md-8">
                            <p>Benjamin is a Systems Architect working on High and Continuous Availability systems in the financial services industry. He has been working with Linux and Unix systems for over 10 years. He is also the creator of <a href="https://runbook.io">Runbook.io</a> an open source application designed to identify and automatically mitigate infrastructure and application issues. You can think of it as IFTTT meets Nagios.</p>

<p>In addition to this blog Benjamin has recently published a book; <a href="http://amzn.com/1785283553" target="_blank">Red Hat Enterprise Linux Troubleshooting Guide</a> and given a talk at SaltConf 2014 on <a href="http://www.slideshare.net/SaltStack/saltconf14-ben-cane-using-saltstack-in-high-availability-environtments">utilizing Saltstack within highly available enterprise environments</a>.</p>

                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/madflojo">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bencane">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://angel.co/benjamin-cane">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-angellist fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/madflojo">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

    </div>
  </div>
