<div class="footer">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->
      <img src="{{ data['siteurl'] }}/img/benc380x250.png" alt="Picture of Benjamin Cane" class="img-rounded img-responsive" />
    </div>

    <div class="col-md-8">
      <!--Body content-->
      <h3 class="footerh3">Benjamin Cane <i class="fa fa-linux fa-2x"></i></h3>
                        <p></p>
                            <p>
                            Benjamin the founder of <a href="https://cloudrout.es">CloudRoutes</a> and a Solutions Architect working on High & Continuous Availability systems in the financial services industry. He has been Administrating Linux and Unix systems for about 10+ years. You might find him writing and sharing stories about Linux, Unix, Python, DevOps, and other various Sysadmin-like things.
                          </p>
                        <!-- Split button -->
                        <p>
          <a class="btn btn-primary" href="https://twitter.com/madflojo"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a> 
          <a class="btn btn-primary" href="https://plus.google.com/+BenjaminCane?rel=authors"><i class="fa fa-google-plus-square fa-lg"></i> Google+</a> 
          <a class="btn btn-primary" href="http://www.linkedin.com/in/bencane"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a>
          <a class="btn btn-primary" href="{{ data['sitefeed'] }}"><i class="fa fa-rss-square fa-lg"></i> RSS</a>
          <a class="btn btn-primary" href="http://bencane.us7.list-manage1.com/subscribe?u=52bad2a14ba3306a494c9739f&id=848cc53f28"><i class="fa fa-envelope fa-lg"></i> Email</a>

                        </p>
    </div>
  </div>
</div>
</div>
