  <div class="row">
    {% if meta['page_type'] == "index" %}
    <div class="col-md-4">
    {% endif %}
      <!--Sidebar content-->
    <img src="{{ data['siteurl'] }}/static/img/benc380x250.png" alt="Picture of Benjamin Cane" class="img-thumbnail img-responsive" />
    {% if meta['page_type'] == "index" %}
    </div>
    {% endif %}

    {% if meta['page_type'] == "index" %}
    <div class="col-md-8">
    {% else %}
    <p></p>
    <div class="well">
    {% endif %}
    Benjamin is a Systems Architect working in the financial services industry focused on platforms that require Continuous Availability. He has been working with Linux and Unix for over 10 years now and has recently published his first book; <a href="http://amzn.com/1785283553" target="_blank">Red Hat Enterprise Linux Troubleshooting Guide</a>.

    {% if meta['page_type'] == "index" %}
    <p></p>
    In addition to writing about Linux; Benjamin is the creator of <a href="https://automatron.io" target="_blank">Automatron</a>, an infrastructure monitoring and automated remediation application used to create self-healing infrastructure. Benjamin has also spoken at SaltConf 2014 where he presented; <a href="https://youtu.be/R1bEEzwYeqk" target="_blank">Using SaltStack in High Availability Environments</a>.
    {% endif %}
    <hr class="hr">

                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/madflojo">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bencane">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://angel.co/benjamin-cane">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-angellist fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/madflojo">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

    </div>
  </div>
