<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Stuff -->
    <title>{{ data['sitetitle'] }}</title>
    {% if data['sitedescription'] %}
    <meta name="description" content="{{ data['sitedescription'] }}">
    {% endif %}
    <meta name="keywords" content="{% for item in data['cats'] %}{{ item }}, {% endfor %}{% for item in data['tags'] %}{{ item }}, {% endfor %}">
    <meta name="author" content="{{ data['author'] }}">
    <meta property="og:type" content="{{ data['pagetype'] }}"/>
    <meta property="og:title" content="{{ data['sitetitle'] }}"/>
    {% if data['pagetype'] == "article" %}
    <meta property="og:url" content="{{ data['siteurl'] }}{{ data['url'] }}"/>
    {% endif %}
    <meta property="og:description" content="{{ data['description'] }}"/>
    <meta property="og:site_name" content="{{ data['sitename'] }}"/>
    {% if data['thumbnail'] %}
    <meta property="og:image" content="{{ data['thumbnail'] }}"/>
    {% endif %}
    {% if data['pagetype'] == "article" %}
    <meta property="article:author" content="{{ data['authorlink'] }}" \>
    <link rel="author" href="{{ data['authorlink'] }}" \>
    {% endif %}



    <!-- Bootstrap core CSS -->
    <link href="{{ data['siteurl'] }}/static/css/bootstrap.css" rel="stylesheet">
    <link href="{{ data['siteurl'] }}/static/css/starter-template.css" rel="stylesheet">
    <link href="{{ data['siteurl'] }}/static/css/footer.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% if data['pagetype'] == "article" %}
    <!-- Shareaholic -->
    <script type="text/javascript">
		//<![CDATA[
		  (function() {
		    var shr = document.createElement('script');
		    shr.setAttribute('data-cfasync', 'false');
		    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
		    shr.type = 'text/javascript'; shr.async = 'true';
		    shr.onload = shr.onreadystatechange = function() {
		      var rs = this.readyState;
		      if (rs && rs != 'complete' && rs != 'loaded') return;
		      var apikey = '098ec2a3913f9ec74de565aa3ec3d741';
		      try { Shareaholic.init(apikey); } catch (e) {}
		    };
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(shr, s);
		  })();
		//]]>
		</script>
     <!-- End Sharaholic -->
     {% endif %}
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <strong><a class="navbar-brand" href="{{ data['siteurl'] }}"><i class="fa fa-linux fa-lg"></i> [ {{ data['sitename'] }} ]</a></strong>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
      {% if data['prevp'] %}
        <li><a href="{{ data['siteurl'] }}{{ data['prevp'] }}"><i class="fa fa-chevron-left "></i> Previous</a></li>
      {% endif %}
        <li><a href="{{ data['siteurl'] }}"><i class="fa fa-home "></i> Home</a></li>
        <li><a href="{{ data['siteurl'] }}/archive.html"><i class="fa fa-archive "></i> Archive</a></li>
      {% if data['nextp'] %}
        <li><a href="{{ data['siteurl'] }}{{ data['nextp'] }}"><i class="fa fa-chevron-right "></i> Next</a></li>
      {% endif %}
          </ul>
        <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="https://twitter.com/madflojo"><i class="fa fa-twitter fa-1x"></i> Twitter</a></li>
          <li><a href="{{ data['sitefeed'] }}"><i class="fa fa-rss fa-1x"></i> RSS</a></li>
          <li><a href="http://bencane.us7.list-manage1.com/subscribe?u=52bad2a14ba3306a494c9739f&id=848cc53f28"><i class="fa fa-envelope-o fa-1x"></i> Email</a></li>
        </ul>
        </div>
        </div>
      </div>
    </div>

<div class="starter-template">
    <div class="row visible-lg">
      <div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bigger Banner - Sys-log -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-0946238287085890"
     data-ad-slot="4580867883"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>
   </div> 
  <div class="row visible-xs">
  <div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Large Rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-0946238287085890"
     data-ad-slot="3704139488"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
  </div>
</div>
