<hr>
<div class="footer">
<div class="container">
  <div class="row">
        <p class="text-muted pull-right">
        <strong><i class="fa fa-btc"></i></strong> 1ixpKYf1WZDgbAJ3rivk2X335X25QSNDCi
        </p>
        <a href="https://twitter.com/madflojo"><i class="fa fa-twitter"></i> Twitter</a> |
        <a href="{{ data['sitefeed'] }}"><i class="fa fa-rss"></i> RSS</a> |
        <a href="http://bencane.us7.list-manage1.com/subscribe?u=52bad2a14ba3306a494c9739f&id=848cc53f28"><i class="fa fa-envelope-o"></i> Email</a> 
  </div>
</div>
</div> <! -- container -->

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ data['siteurl'] }}/static/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
