<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Stuff -->
    <title>{{ data['title'] }}</title>
    <meta name="description" content="{{ data['description'] }}">
    <meta name="keywords" content="
    {% for item in data['cats'] %}
    {{ item }},
    {% endfor %}
    {% for item in data['tags'] %}
    {{ item }},
    {% endfor %}
    ">
    <meta name="author" content="{{ data['author'] }}">
    <meta property="og:type" content="{{ data['pagetype'] }}"/>
    <meta property="og:title" content="{{ data['title'] }}"/>
    <meta property="og:url" content="{{ data['url'] }}"/>
    <meta property="og:description" content="{{ data['description']"/>
    <meta property="og:site_name" content="{{ data['sitename'] }}"/>
    {% if data['thumbnail'] %}
    <meta property="og:image" content="{{ data['thumbnail'] }}"/>
    {% endif %}
    {% if data['pagetype'] == "article" %}
    <meta property="article:author" content="{{ data['gplusurl'] }}" \>
    {% endif %}



    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% if data['pagetype'] == "article" %}
    <!-- Shareaholic -->
    <script type="text/javascript">
		//<![CDATA[
		  (function() {
		    var shr = document.createElement('script');
		    shr.setAttribute('data-cfasync', 'false');
		    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
		    shr.type = 'text/javascript'; shr.async = 'true';
		    shr.onload = shr.onreadystatechange = function() {
		      var rs = this.readyState;
		      if (rs && rs != 'complete' && rs != 'loaded') return;
		      var apikey = '098ec2a3913f9ec74de565aa3ec3d741';
		      try { Shareaholic.init(apikey); } catch (e) {}
		    };
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(shr, s);
		  })();
		//]]>
		</script>
     <!-- End Sharaholic -->
     {% endif %}
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-linux fa-lg"></i> [ Benjamin Cane ]</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if data['prevp'] %}
            <li><a href="{{ data['prevp'] }}"><i class="fa fa-chevron-left "></i> Previous</a></li>
            {% endif %}
            <li><a href="/archive.html"><i class="fa fa-archive "></i> Archive</a></li>
            {% if data['nextp'] %}
            <li><a href="{{ data['nextp'] }}"><i class="fa fa-chevron-right "></i> Next</a></li>
            {% endif %}
          </ul>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="https://twitter.com/madflojo"><i class="fa fa-twitter fa-1x"></i> Twitter</a></li>
            <li><a href="/feed"><i class="fa fa-rss fa-1x"></i> RSS</a></li>
            <li><a href="http://bencane.us7.list-manage1.com/subscribe?u=52bad2a14ba3306a494c9739f&id=848cc53f28"><i class="fa fa-envelope-o fa-1x"></i> Email</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  
    <div id="wrapper">
      
      {% if data['tochtml'] %}
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <p class="sidebar-header">Table of Contents</p>
        <ul class="sidebar-nav">
        {{ data['tochtml'] }}
        </ul>
        {% if data['toccount'] < 20 %}
        <hr>
        <div align="center"><!-- Google 250x250 Code -->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- 250 boxy -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:250px;height:250px"
				     data-ad-client="ca-pub-0946238287085890"
				     data-ad-slot="5465785086"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				</div>
        {% endif %}
     </div>
     {% endif %}

          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <p></p>
      <div align="center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Large Leader -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:970px;height:90px"
				     data-ad-client="ca-pub-0946238287085890"
				     data-ad-slot="3989051884"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
      </div>
        <p></p>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
        <div class="page-header">
          <h1>
          {{ data['title'] }}
          </h1>
          <span class="text-muted">
          <i class="fa fa-calendar"></i> {{ data['date'] }} |
          <i class="fa fa-folder"></i> 
          {% for item in data['cats'] %}
          <span class="label label-default">{{ item }}</span>
          {% endfor %}
          </span>
        </div>
        <!-- Post Content -->
        {{ data['data'] }}
        <!-- End Data -->
<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='632299'></div>
<p>
</p>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->
      <img src="/img/benc380x250.png" alt="Picture of Benjamin Cane" class="img-rounded img-responsive" />
    </div>
    <div class="col-md-6">
      <!--Body content-->
                            <h3>Benjamin Cane <i class="fa fa-linux fa-2x"></i></h3>
                        <p></p>
                            <p>
                            Benjamin is a Solutions Architect working on High & Continuous Availability systems in the financial services industry. He has been Administrating Linux and Unix systems for about 10+ years. You might find him writing and sharing stories about Linux, Unix, Python, DevOps, and other various Sysadmin-like things.
                          </p>
                        <!-- Split button -->
                        <p>
          <a class="btn btn-info" href="https://twitter.com/madflojo"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a> 
          <a class="btn btn-info" href="https://plus.google.com/115680175625172942216/posts"><i class="fa fa-google-plus-square fa-lg"></i> Google+</a> 
          <a class="btn btn-info" href="http://www.linkedin.com/in/bencane"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a>
                        </p>
  </div>
  </div>
</div>
<hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'bclog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
<hr>
      
  <!-- footer -->
  <div class="row">
    <div class="span6">
        <p class="text-muted pull-right">BenCane.com - <i class="fa fa-btc"></i> 1ixpKYf1WZDgbAJ3rivk2X335X25QSNDC</p>
        <a href="https://twitter.com/madflojo"><i class="fa fa-twitter"></i> Twitter</a> |
        <a href="/feed"><i class="fa fa-rss"></i> RSS</a> |   
        <a href="http://bencane.us7.list-manage1.com/subscribe?u=52bad2a14ba3306a494c9739f&id=848cc53f28"><i class="fa fa-envelope-o"></i> Email</a> 
    </div>
  </div>
  
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
