<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
<body>

{% include 'navbar.html' %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ data['title'] }}
                        <h2 class="subheading">{{ data['description'] }}</h2>
                        <span class="meta">Written by <a href="https://twitter.com/madflojo">Benjamin Cane</a> on {{ data['date'] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Post Content -->
    <article>
        <div class="container">
    <div class="row">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Top of Page -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0946238287085890"
     data-ad-slot="5617960684"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <p></p>
    </div>
            <div class="row">
              <div class="row">
                <div class="col-sm-12 col-xs-12 visible-xs visible-sm">
                <h4>Sponsored by</h4>
                  <a href="https://www.datadoghq.com/lpg/?utm_source=Advertisement&utm_medium=Advertisement&utm_campaign=Bencane"><img src="/static/img/datadog-300x250.png" border=0></a>
                </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12">
			{{ data['data'] }}
                </div>
                <div class="col-lg-4 visible-lg col-md-4 visible-md">

              <h4>Publications</h4>
              <div class="well">
                 <a href="http://amzn.com/1785283553" target="_blank"><h3>Red Hat Enterprise Linux Troubleshooting Guide</h3></a>
                  <center><a href="http://amzn.com/1785283553" target="_blank"><img src="/static/img/RHELTroubleshootingCover.jpg" class="img-responsive" border=0/></a></center>
                  <p></p>
                 <a href="http://amzn.to/1Mdbtkt" class="btn btn-block btn-primary" role="button" target="_blank">Buy on Amazon</a>
              </div>
              <div class="row">
              <h4>Sponsored by</h4>
                  <center>
                  <div class="row">
                  <a href="https://www.datadoghq.com/lpg/?utm_source=Advertisement&utm_medium=Advertisement&utm_campaign=Bencane"><img src="/static/img/datadog-300x250.png" border=0></a>
                  </div>
                  <hr class="hr">
                  <div class="row">
                  <a href="mailto:ben@bencane.com?subject=Sponsorship"><img src="/static/img/advertise-here.jpg" border=0></a>
                  </div>
                  </center>
              </div>
              <div class="row">
            </div>
</div>
</div>
<div class="row">


    		{% include 'shareaholic.html' %}
    <div class="row">
      <div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bottom Of Page -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0946238287085890"
     data-ad-slot="6955093086"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>
   </div>
	   	{% include 'disqus.html' %}
                </div>

            </div>

        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
	   {% include 'authorinfo.html' %}
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; Benjamin Cane 2014 - <a href="mailto:ben@bencane.com">Contact the Author</a></p>
                </div>
            </div>
        </div>
    </footer>


	   {% include 'js_includes.html' %}
</body>

</html>
