    <!-- jQuery -->
    <script src="{{ data['siteurl'] }}/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ data['siteurl'] }}/static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ data['siteurl'] }}/static/js/clean-blog.min.js"></script>

    <!-- Scroller lib -->
    <script src="{{ data['siteurl'] }}/static/js/jscroll.min.js"></script>


    <script>
    $(function() {
      $(".scroll").jScroll({speed : "fast"});
    });
    </script>
