<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Benjamin Cane">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Shareaholic -->
    <script type="text/javascript">
		//<![CDATA[
		  (function() {
		    var shr = document.createElement('script');
		    shr.setAttribute('data-cfasync', 'false');
		    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
		    shr.type = 'text/javascript'; shr.async = 'true';
		    shr.onload = shr.onreadystatechange = function() {
		      var rs = this.readyState;
		      if (rs && rs != 'complete' && rs != 'loaded') return;
		      var apikey = '098ec2a3913f9ec74de565aa3ec3d741';
		      try { Shareaholic.init(apikey); } catch (e) {}
		    };
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(shr, s);
		  })();
		//]]>
		</script>
     <!-- End Sharaholic -->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-linux fa-lg"></i> [ Benjamin Cane ]</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ prevp }}"><i class="fa fa-chevron-left "></i> Previous</a></li>
            <li><a href="/archive.html"><i class="fa fa-archive "></i> Archive</a></li>
            <li><a href="{{ nextp }}"><i class="fa fa-chevron-right "></i> Next</a></li>
          </ul>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="https://twitter.com/madflojo"><i class="fa fa-twitter fa-1x"></i> Twitter</a></li>
            <li><a href="/feed"><i class="fa fa-rss fa-1x"></i> RSS</a></li>
            <li><a href="http://bencane.us7.list-manage1.com/subscribe?u=52bad2a14ba3306a494c9739f&id=848cc53f28"><i class="fa fa-envelope-o fa-1x"></i> Email</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <p class="sidebar-header">Table of Contents</p>
        <ul class="sidebar-nav">
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
          <li><a href="#"><i class="fa fa-minus"></i> title</a></li>
        </ul>
        <hr>
        <div align="center"><!-- Google 250x250 Code -->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- 250 boxy -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:250px;height:250px"
				     data-ad-client="ca-pub-0946238287085890"
				     data-ad-slot="5465785086"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				</div>

     </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <p></p>
      <div align="center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Large Leader -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:970px;height:90px"
				     data-ad-client="ca-pub-0946238287085890"
				     data-ad-slot="3989051884"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
      </div>
        <p></p>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
        <div class="page-header">
          <h1>
            Installing Redis and setting up Master - Slave Replication
          </h1>
          <span class="text-muted">
          <i class="fa fa-calendar"></i> 12/01/2013 |
          <i class="fa fa-folder"></i> 
          <span class="label label-default">Linux</span>
          <span class="label label-default">Redis</span>
          <span class="label label-default">Databases</span>
          </span>
        </div>
    <p>Over the past few years the usage of NOSQL databases has grown quite a bit. Part of this popularity is due to the scalability and performance seen with NOSQL solutions, one of those highly performant databases is Redis. Redis is an highly popular open source in memory key - value data store that is currently in use at and highly praised by tech companies such as Twitter, Stack Exchange and Github.</p>

<p>I've been following Redis for quite some time now and finally had a project that had a good use case for it. The setup of Redis was so easy that I thought it would be a good idea to share how to install and configure a Redis instance for Master - Slave replication.</p>

<h2>What is Master - Slave Replication?</h2>

<p>Master - Slave replication is a data replication concept seen often in the database world. This replication allows for a database service to replicate data written to the master instance to a slave instance. This slave instance could be located within the same facility for scaling out read requests or in another facility in order to mitigate a disaster recovery scenario.</p>

<p>In general slave servers are read only, Redis is no different; however it does have the ability to override this setting however data only written to the slave will be lost during a resynchronization to the master server. Usually a Master server can have many slave servers setup, in the case of Redis a slave server can also serve as the master server for other slaves. This configuration allows one to send all write requests to the single master server and be able to scale out any read requests against many slaves.</p>

<p>Setup the Master Server</p>

<h3>Install the Server</h3>

<p>In this article we will be installing Redis on Ubuntu 13.10; we can do this using the apt package manager.</p>

<pre><code>ubuntu@redis-master:~$ sudo apt-get install redis-server
</code></pre>

<h3>Configuration</h3>

<p>Before starting Redis we will need to configure a few items within the /etc/redis/redis.conf  configuration file.</p>

<pre><code>ubuntu@redis-master:~$ sudo vi /etc/redis/redis.conf
</code></pre>

<h4>Changing the Listening Interface</h4>

<p>By default Redis binds to the localhost IP, this would be fine if we were only using Redis locally. In this example however we are setting up replication and will need to change the bind address to the public IP.</p>

<p><strong>Find:</strong></p>

<pre><code>bind 127.0.0.1
</code></pre>

<p><strong>Replace with:</strong></p>

<pre><code>bind &lt;youripaddress&gt;
</code></pre>

<p><strong>Example:</strong></p>

<pre><code>bind 10.0.3.61
</code></pre>

<h4>Adding Password Authentication</h4>

<p>Redis does not have a concept of users and permissions that you would see with a traditional database such as MySQL, however Redis does have a simple password based authentication. To require password based authentication we will need to un-comment the <strong>requirepass</strong> setting.</p>

<p><strong>Find:</strong></p>

<pre><code># requirepass foobared
</code></pre>

<p><strong>Replace with:</strong></p>

<pre><code>requirepass somesuperlongpasswordthathaslotsofspecialcharacters
</code></pre>

<h3>Restart the Redis Server</h3>

<p>At this point after saving the configuration file we will restart the redis-server service.</p>

<pre><code>ubuntu@redis-master:~$ sudo /etc/init.d/redis-server restart
</code></pre>

<h2>Installation on the Slaves</h2>

<p>Setting up a Redis Slave is the same as setting up the master; however we will need to add a few more configuration steps.</p>

<h3>Install the Redis Server package</h3>

<pre><code>ubuntu@redis-slave:~$ sudo apt-get install redis-server
</code></pre>

<h3>Configuration</h3>

<p>We will again need to modify the Redis server configuration file.</p>

<pre><code>ubuntu@redis-slave:~$ sudo vi /etc/redis/redis.conf
</code></pre>

<h4>Changing the Listening Interface</h4>

<p>Again we will change the bind address to the public IP address of the slave server.</p>

<p><strong>Find:</strong></p>

<pre><code>bind 127.0.0.1
</code></pre>

<p><strong>Replace with:</strong></p>

<pre><code>bind &lt;youripaddress&gt;
</code></pre>

<h4>Adding Password Authentication</h4>

<p>While slave systems are read only by default it is a good idea to enable password authentication to prevent clients from reading data without authenticating. This setting is optional, if you do not care about securing the data being read than this can stay commented.</p>

<p><strong>Find:</strong></p>

<pre><code># requirepass foobared
</code></pre>

<p><strong>Replace with:</strong></p>

<pre><code>requirepass somesuperlongpasswordthathaslotsofspecialcharacters
</code></pre>

<h4>Setting up Replication</h4>

<p>The below steps will outline setting up replication from the Slave. Replication only needs to be defined on Slave systems, the Master server does not require any special configuration.</p>

<h5>Specifying the Master</h5>

<p>In the slave configuration file specify the master server to replicate from. Redis has the ability to replicate from a slave, to set this up you would simply specify the first slaves details in place of the master.</p>

<p><strong>Find:</strong></p>

<pre><code># slaveof &lt;masterip&gt; &lt;masterport&gt;
</code></pre>

<p><strong>Replace With:</strong></p>

<pre><code>slaveof &lt;masterip&gt; &lt;masterport&gt;
</code></pre>

<p><strong>Example:</strong></p>

<pre><code>slaveof 10.0.3.61 6379
</code></pre>

<h5>Authentication</h5>

<p>If you set a password earlier for the master server you will need to specify that password via the <strong>masterauth</strong> setting.</p>

<p><strong>Find:</strong></p>

<pre><code># masterauth &lt;master-password&gt;
</code></pre>

<p><strong>Replace With:</strong></p>

<pre><code>masterauth somesuperlongpasswordthathaslotsofspecialcharacters
</code></pre>

<h3>Start the Service</h3>

<p>At this point we can start the redis-server on the slave.</p>

<pre><code>ubuntu@redis-slave:~$ service redis-server start
</code></pre>

<h2>Testing Replication</h2>

<p>To test the replication we will first login to the master server and set a key-value.</p>

<h3>Set the key-value on the Redis Master</h3>

<p>To login to the Redis server we will use the redis-cli client. The -h flag specifies the host to connect to, by default the redis-cli will connect to the localhost IP.</p>

<pre><code>ubuntu@redis-master:~$ redis-cli -h 10.0.3.61
</code></pre>

<p>Once logged in use the <strong>AUTH</strong> command with the password specified earlier.</p>

<pre><code> redis 10.0.3.61:6379&gt; AUTH &lt;password&gt;
 OK
</code></pre>

<p>After authenticating we can now set a key-value pair using the <strong>SET</strong> command.</p>

<pre><code> redis 10.0.3.61:6379&gt; SET replicated:test true
 OK
</code></pre>

<h3>Get the key-value on the Redis Slave</h3>

<p>Now that data has been saved to the master we will login to the Redis Slave server using the same redis-cli command and use the <strong>GET</strong> command to retrieve the replicated data.</p>

<pre><code>ubuntu@redis-slave:~$ redis-cli -h 10.0.3.251
 redis 10.0.3.251:6379&gt; AUTH foobared
 OK
</code></pre>

<p>Once logged in use the <strong>GET</strong> command to retrieve the value from the <strong>replicated:test</strong> key</p>

<pre><code> redis 10.0.3.251:6379&gt; GET replicated:test
 "true"
</code></pre>

<p>At this point we have installed Redis on two systems and setup replication between them. If you required a third server you could repeat the Slave setup steps and either use the Master or Slave server as the source server.</p>

<!-- End Data -->
<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='632299'></div>
<p>
</p>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->
      <img src="http://placehold.it/380x250" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-md-6">
      <!--Body content-->
                            <h3>Benjamin Cane <i class="fa fa-linux fa-2x"></i></h3>
                        <p></p>
                            <p>
                            Benjamin is a Solutions Architect working on High & Continuous Availability systems in the financial services industry. He has been Administrating Linux and Unix systems for about 10+ years. You might find him writing and sharing stories about Linux, Unix, Python, DevOps, and other various Sysadmin-like things.
                          </p>
                        <!-- Split button -->
                        <p>
          <a class="btn btn-info" href="#"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a> 
          <a class="btn btn-info" href="#"><i class="fa fa-google-plus-square fa-lg"></i> Google+</a> 
          <a class="btn btn-info" href="#"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a>
                        </p>
  </div>
  </div>
</div>
<hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'bclog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
<hr>
      
  <!-- footer -->
  <div class="row">
    <div class="span6">
        <p class="text-muted pull-right">BenCane.com - <i class="fa fa-btc"></i> 1ixpKYf1WZDgbAJ3rivk2X335X25QSNDC</p>
        <a href="#"><i class="fa fa-twitter"></i> Twitter</a> |
        <a href="#"><i class="fa fa-rss"></i> RSS</a> |   
        <a href="#"><i class="fa fa-envelope-o"></i> Email</a> 
    </div>
  </div>
  
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
