#wrapper {
  padding-left: 255px;
  padding-top: 55px;
  transition: all 0.4s ease 0s;
  position: absolute;
}

#sidebar-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -250px;
  left: 250px;
  width: 255px;
  background: #225378; 
  overflow-y: auto;
  z-index: 1000;
  height: 100%;
  position: fixed;
  transition: all 0.4s ease 0s;
}

#sidebar-stop {
  position: fixed;
}

#page-content-wrapper {
  width: 90%;
  margin-left: 10px;
}

.sidebar-nav {
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 16px;
  text-indent: 5px;
}

.sidebar-nav li a {
  color: #F3FFE2;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 12px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-header {
  color: #EB7F00;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 5px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}
